/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common Styles */
img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.textBlue {
  color: #40c8f4;
}

.textFuchsiaPink {
  color: #ec007a;
}

.textWhite {
  color: #ffffff !important;
}

.bgPink {
  background-color: #f466af;
}

.bgSoftPink {
  background-color: #fab3d7;
}

.bgWhite {
  background-color: #ffffff;
}

.bgTransparent {
  background-color: transparent;
}

.bgBlue {
  background: linear-gradient(0deg, #04abe1, #42ccf6);
}

.bgDarkBlue {
  background-color: #40c8f4;
}

.bgMiddleBlue {
  background-color: #6bd9fd;
}

.bgSoftBlue {
  background-color: #b3f6ff;
}

.bgNavyBlue {
  background-color: #4364ad;
}

.bgOrange {
  background-color: #f2785f;
}

.container {
  max-width: 1640px;
  margin-inline: auto;
}
.headingTitle {
  font-family: "Work Sans", serif;
  font-style: normal;
  font-size: 42px;
  font-weight: 800;
  line-height: 49.27px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.primary-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
  border: 0;
  clip-path: polygon(
    100% 31.786%,
    97.914% 83.571%,
    97.914% 83.571%,
    97.759% 86.331%,
    97.527% 88.914%,
    97.224% 91.294%,
    96.857% 93.443%,
    96.434% 95.335%,
    95.961% 96.943%,
    95.444% 98.24%,
    94.891% 99.2%,
    94.308% 99.796%,
    93.703% 100%,
    7.587% 100%,
    7.587% 100%,
    6.982% 99.796%,
    6.399% 99.2%,
    5.846% 98.24%,
    5.329% 96.943%,
    4.856% 95.335%,
    4.432% 93.443%,
    4.066% 91.294%,
    3.763% 88.914%,
    3.531% 86.331%,
    3.376% 83.571%,
    1.29% 31.786%,
    1.29% 31.786%,
    1.184% 26.904%,
    1.265% 22.171%,
    1.519% 17.675%,
    1.931% 13.5%,
    2.485% 9.732%,
    3.166% 6.457%,
    3.96% 3.761%,
    4.852% 1.729%,
    5.825% 0.446%,
    6.866% 0%,
    94.423% 0%,
    94.423% 0%,
    95.464% 0.446%,
    96.438% 1.729%,
    97.33% 3.761%,
    98.124% 6.457%,
    98.805% 9.732%,
    99.359% 13.5%,
    99.771% 17.675%,
    100.025% 22.171%,
    100.106% 26.904%,
    100% 31.786%
  );
}

@media (max-width: 768px) {
  .headingTitle {
    font-size: 22px;
    line-height: 25.81px;
    margin-bottom: 40px;
  }
}

/* Header/Navbar styles */
.header {
  background: linear-gradient(90deg, #04abe1, #42ccf6);
  color: #ffffff;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  background-image: url("./assets/decorations/Header-decoration.png");
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  height: 8px;
}

.header > div {
  max-width: 1640px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 32px;
  padding-block-start: 30px;
  padding-block-end: 38px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-wrap: nowrap;
}

.brand-logo {
  width: 415px;
  height: 40px;
}

.icon {
  width: 28px;
  height: 28px;
}

.header-first-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-first-section > a {
  flex: 1 1 0%;
}

.input-field {
  margin-inline: auto;
  flex: 1 1 0%;
}

.input-container {
  position: relative;
}

.input-field-icon {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  display: flex;
  align-items: center;
  padding-inline-start: 24px;
  pointer-events: none;
}

.input-field-icon > img {
  width: 24px;
  height: 24px;
  z-index: 1;
}

.input-field input {
  display: block;
  width: 100%;
  padding: 19px;
  padding-inline-start: 54px;
  font-size: 16px;
  border: none;
  border-radius: none;
  clip-path: polygon(
    98.415% 100%,
    1.951% 100%,
    1.951% 100%,
    1.655% 99.554%,
    1.379% 98.271%,
    1.125% 96.239%,
    0.9% 93.543%,
    0.706% 90.268%,
    0.549% 86.5%,
    0.432% 82.325%,
    0.36% 77.829%,
    0.336% 73.096%,
    0.367% 68.214%,
    0.959% 16.429%,
    0.959% 16.429%,
    1.003% 13.669%,
    1.069% 11.086%,
    1.155% 8.706%,
    1.26% 6.557%,
    1.38% 4.665%,
    1.514% 3.057%,
    1.661% 1.76%,
    1.818% 0.8%,
    1.984% 0.204%,
    2.156% 0%,
    98.21% 0%,
    98.21% 0%,
    98.382% 0.2%,
    98.548% 0.783%,
    98.705% 1.726%,
    98.852% 3.006%,
    98.987% 4.598%,
    99.107% 6.48%,
    99.211% 8.628%,
    99.297% 11.017%,
    99.363% 13.625%,
    99.407% 16.429%,
    100% 68.214%,
    100% 68.214%,
    100.03% 73.096%,
    100.007% 77.829%,
    99.935% 82.325%,
    99.818% 86.5%,
    99.66% 90.268%,
    99.467% 93.543%,
    99.241% 96.239%,
    98.988% 98.271%,
    98.711% 99.554%,
    98.415% 100%
  );
}

.input-field :focus {
  outline: none;
}

.input-field input::placeholder {
  color: #40c8f4;
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
}

.header-icons-section {
  max-width: 160px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 14px 30px;
  background-color: #ffffff33;
  clip-path: polygon(
    100% 31.786%,
    96.488% 83.571%,
    96.488% 83.571%,
    96.227% 86.331%,
    95.837% 88.914%,
    95.327% 91.294%,
    94.71% 93.443%,
    93.997% 95.335%,
    93.201% 96.943%,
    92.331% 98.24%,
    91.4% 99.2%,
    90.419% 99.796%,
    89.4% 100%,
    12.771% 100%,
    12.771% 100%,
    11.752% 99.796%,
    10.771% 99.2%,
    9.84% 98.24%,
    8.971% 96.943%,
    8.174% 95.335%,
    7.461% 93.443%,
    6.844% 91.294%,
    6.335% 88.914%,
    5.944% 86.331%,
    5.683% 83.571%,
    2.171% 31.786%,
    2.171% 31.786%,
    1.993% 26.904%,
    2.13% 22.171%,
    2.557% 17.675%,
    3.25% 13.5%,
    4.183% 9.732%,
    5.33% 6.457%,
    6.666% 3.761%,
    8.167% 1.729%,
    9.806% 0.446%,
    11.558% 0%,
    90.613% 0%,
    90.613% 0%,
    92.366% 0.446%,
    94.005% 1.729%,
    95.505% 3.761%,
    96.841% 6.457%,
    97.989% 9.732%,
    98.921% 13.5%,
    99.614% 17.675%,
    100.041% 22.171%,
    100.179% 26.904%,
    100% 31.786%
  );
}

.header-second-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.header-nav {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  column-gap: 0;
  flex-wrap: wrap;
}

.header-nav li {
  padding: 12px;
}
.cart-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ec007a;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.displayNoneDesktop {
  display: none;
}

.mobileMediaButton {
  display: none;
}

@media (max-width: 768px) {
  .header div {
    padding-inline: 10px;
  }
  .header-second-section {
    display: none;
  }
  .header-first-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .displayNoneMobile {
    display: none;
  }
  .input-field {
    width: 100%;
  }

  .displayNoneDesktop {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mobileNavContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .mobileNavMenu {
    width: 24px;
    height: 24px;
  }
  .mobileMediaButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    gap: 10px;
    padding: 20px;
  }
  .mobileMediaButton span {
    font-family: "Work Sans", serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.42px;
  }
  .brand-logo {
    width: 170px;
  }
  .header-icons-section {
    display: flex;
    padding: 10px 20px;
    gap: 20px;
  }
}

/* Banner carousel background */
.carousel-background {
  background-color: #fcf2ec;
  padding: 20px;
}

.carousel-wrapper {
  width: 100%;
  max-width: 1550px;
  overflow: hidden;
  margin: 60px auto 80px;
  border-radius: 20px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  flex: 0 0 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* Navigation buttons */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.marginBottom {
  margin-bottom: 40px;
}
/* Best seller styles */
.bestSellerTabsWrapper {
  overflow: hidden;
  padding-top: 20px;
}

.bestSellerTabsContainer {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  margin-bottom: -2px;
  margin: 0 auto;
}

.bestSellerTabs {
  color: #656565;

  transform: scale(1.3);
  transform-origin: center bottom;
  padding: 16px 30px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.77px;
  text-transform: uppercase;
  margin: -9px 27px 0;
  border: 0;
  /* min-width: 223px;
  height: 60px; */
  margin-top: 18px;
  clip-path: polygon(
    100% 100%,
    0.261% 100%,
    0.261% 100%,
    0.96% 99.87%,
    1.541% 99.468%,
    2.021% 98.778%,
    2.414% 97.784%,
    2.736% 96.469%,
    3.002% 94.816%,
    3.227% 92.809%,
    3.427% 90.432%,
    3.616% 87.668%,
    3.81% 84.5%,
    3.81% 84.5%,
    3.978% 81.338%,
    4.204% 76.678%,
    4.478% 70.785%,
    4.789% 63.924%,
    5.127% 56.359%,
    5.48% 48.356%,
    5.839% 40.179%,
    6.191% 32.092%,
    6.527% 24.361%,
    6.836% 17.25%,
    6.836% 17.25%,
    7.021% 14.367%,
    7.324% 11.664%,
    7.734% 9.169%,
    8.241% 6.912%,
    8.835% 4.922%,
    9.504% 3.228%,
    10.24% 1.86%,
    11.031% 0.846%,
    11.867% 0.216%,
    12.738% 0%,
    87.523% 0%,
    87.523% 0%,
    88.404% 0.216%,
    89.246% 0.846%,
    90.039% 1.86%,
    90.776% 3.228%,
    91.446% 4.922%,
    92.039% 6.912%,
    92.547% 9.169%,
    92.96% 11.664%,
    93.268% 14.367%,
    93.463% 17.25%,
    93.463% 17.25%,
    93.761% 24.361%,
    94.089% 32.092%,
    94.435% 40.179%,
    94.789% 48.356%,
    95.139% 56.359%,
    95.475% 63.924%,
    95.785% 70.785%,
    96.058% 76.678%,
    96.284% 81.338%,
    96.451% 84.5%,
    96.451% 84.5%,
    96.645% 87.668%,
    96.835% 90.432%,
    97.034% 92.809%,
    97.259% 94.816%,
    97.525% 96.469%,
    97.847% 97.784%,
    98.24% 98.778%,
    98.72% 99.468%,
    99.302% 99.87%,
    100% 100%
  );
}

/* Best Seller Cards */
.bestSellerCardsWrapper {
  border-radius: 0 0 100px 0;
}
.bestSellerCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 60px;
}

.bestSellerCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s, box-shadow 0.4s;
}

.bestSellerCards:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.bestSellerCards:hover {
  box-shadow: inset;
}

.cardTextContainer {
  padding: 20px;
}

.cardTitle {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.77px;
  margin-bottom: 6px;
  text-decoration: none !important;
}

.cardParagraph {
  color: #656565;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.08px;
}

@media (max-width: 768px) {
  .bestSellerCardsWrapper {
    border-radius: 0;
  }
  .bestSellerCardsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
  }
  .cardTextContainer {
    padding: 10px;
  }
  .cardTitle {
    font-size: 12px;
    line-height: 14.08px;
    margin-bottom: 2px;
  }
  .cardParagraph {
    font-size: 10px;
    line-height: 11.73px;
  }
}

/* Lunchbox Suffle Section */
.lunchboxContainer {
  margin-block-start: 80px;
  padding-block: 48px 120px;
  position: relative;
  overflow: hidden;
}

.lunchboxContainer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-1deg);
  background-color: #b3f6ff;
  z-index: -2;
  margin-inline: -10px;
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

.lunchboxFirstContainer {
  position: relative;
  padding-block: 20px;
  background-color: #f2785f;
  transform: rotate(-1deg);
  margin-inline: -20px;
}

.lunchboxFirstContainer::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #ff3da1;
  width: 100%;
  height: 10px;
}

.marqueeContainer {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marquee {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: move-right-to-left 20s linear infinite;
}

@keyframes move-right-to-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.lunchBoxLabelContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.decorationBox {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  transform: rotate(45deg);
  border: 2px solid #ffffff;
}

.playForFreeTxt {
  font-size: 50px;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

.lunchboxSecondContainer {
  margin-block-start: 96px;
  display: flex;
  column-gap: 52px;
  max-width: 1296px;
  margin-inline: auto;
  padding-inline: 32px;
}

.lunchboxImage {
  position: relative;
  flex: 1 1 0%;
  z-index: 0;
}

.lunchboxImage::before {
  position: absolute;
  content: "";
  background-color: #40c8f47d;
  width: 100%;
  height: 100%;
  top: -30px;
  left: -68px;
  z-index: -1;
  border-radius: 20px;
}

.lunchboxTxtBox {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lunchboxTitle {
  font-size: 36px;
  font-weight: 700;
}

.luchchboxSubTitle {
  font-weight: 700;
  color: #656565;
  margin-block-start: 8px;
}

.lunchboxTxt {
  font-size: 18px;
  line-height: 1.5;
  color: #656565;
  font-weight: 500;
  margin-block-start: 16px;
}

.lunchboxButton {
  margin-block-start: 40px;
  padding-inline: 112px;
}

.lunchboxSquareDeco {
  width: 120px;
  height: 120px;
  display: inline-block;
  border-radius: 20px;
  transform: rotate(45deg);
  background: linear-gradient(90deg, #40c8f4, #4debff);
  position: absolute;
  bottom: 124px;
  right: 158px;
  opacity: 0.2;
  z-index: -1;
}
.lunchboxTriangleDeco {
  position: absolute;
  top: 22%;
  right: 20px;
  background-color: #40c8f4;
  opacity: 0.2;
  z-index: -1;
}

.lunchboxTriangleDeco:before,
.lunchboxTriangleDeco:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.lunchboxTriangleDeco,
.lunchboxTriangleDeco:before,
.lunchboxTriangleDeco:after {
  width: 10em;
  height: 10em;
  border-top-right-radius: 30%;
}

.lunchboxTriangleDeco {
  transform: rotate(-25deg) skewX(-30deg) scale(1, 0.866);
}

.lunchboxTriangleDeco:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}

.lunchboxTriangleDeco:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

@media (max-width: 768px) {
  .lunchboxFirstContainer {
    padding-block: 12px;
  }

  .lunchboxFirstContainer::after {
    bottom: -10px;
    height: 10px;
  }

  .decorationBox {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    transform: rotate(45deg);
    border: 2px solid white;
  }

  .lunchboxSecondContainer {
    flex-direction: column;
    row-gap: 24px;
  }

  .playForFreeTxt {
    font-size: 28px;
    -webkit-text-stroke-width: 1px;
  }

  .lunchboxImage::before {
    top: -10px;
    left: -10px;
  }
  .lunchboxSquareDeco {
    display: none;
  }
  .lunchboxTriangleDeco {
    display: none;
  }

  .lunchboxContainer:after {
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .lunchboxTitle {
    font-size: 20px;
  }

  .luchchboxSubTitle {
    font-size: 14px;
  }

  .lunchboxTxt {
    font-size: 16px;
  }
  .lunchboxContainer {
    margin-block-start: 48px;
    padding-block: 32px;
  }
  .lunchboxSecondContainer {
    margin-block-start: 60px;
  }
}

@media (max-width: 425px) {
  .lunchboxButton {
    width: 100%;
  }
}

/* Free Stuff Styles */
.freeStuffWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0;
  border-radius: 8px;
}

.freeStuffContainer {
  max-width: 1644px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ef3495;
  border-radius: 20px;
}

.freeStuffTextContainer {
  padding: 10px 70px;
}

.freeStuffTitle {
  color: #ffffff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.freeStuffParagraph {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
}

.freeStuffImageContainer {
  flex: 0 0 55%;
  text-align: right;
}

.freeStuffImage {
  margin-top: -24px;
  margin-bottom: -11px;
  margin-left: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.freeStuffPlayButton {
  margin-block-start: 20px;
  padding-inline: 112px;
}

@media (max-width: 768px) {
  .freeStuffWraper {
    margin: 100px 20px 20px 20px;
  }
  .freeStuffContainer {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .freeStuffTextContainer {
    padding: 30px 20px;
  }

  .freeStuffImage {
    margin-top: -50px;
  }

  .freeStuffTitle {
    font-size: 22px;
    line-height: 25.81px;
    margin-bottom: 10px;
  }

  .freeStuffParagraph {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .freeStuffPlayButton {
    width: 100%;
  }
}

/* Cosmic Power Styles */
.cosmicPowerWrapper {
  background-color: #b3f6ff;
  border-radius: 60px 100px 0 100px;
  width: 100%;
  margin: 60px 0;
}
.cosmicPowerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-evenly;
  padding: 60px 40px;
  max-width: 1440px;
  margin: auto;
  gap: 10px;
}

.cosmicPowerImage img {
  overflow: hidden;
  border-radius: 30px;
}

.cosmicTextContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.cosmicTitle {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.23px;
  text-align: center;
}

.cosmicSubTitle {
  color: #656565;
  font-size: 18px;
  font-weight: 700;
  line-height: 18.77px;
  text-align: center;
}

.cosmicParagraph {
  color: #656565;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  max-width: 758px;
  margin-left: 80px;
  margin-right: 90px;
}

.cosmicPowerPlayButton {
  margin-block-start: 40px;
  padding-inline: 112px;
}

@media (max-width: 768px) {
  .cosmicPowerWrapper {
    border-radius: 40px 0px 40px 0px;
  }
  .cosmicPowerContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 20px;
  }
  .cosmicTitle {
    font-size: 22px;
    line-height: 25.81px;
  }
  .cosmicSubTitle {
    font-size: 14px;
    line-height: 16.42px;
  }

  .cosmicParagraph {
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cosmicPowerPlayButton {
    margin-block-start: 10px;
    padding-inline: 90px;
  }
}

@media (max-width: 425px) {
}

/* Features Styles */
.featureWrapper {
  padding-bottom: 150px;
}

.featuredContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-items: center;
  padding: 0 20px;
}

.featureBg {
  background: linear-gradient(0deg, #04abe1, #42ccf6);
  height: 300px;
  width: 100%;
  border-radius: 80px 0 80px 0;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.featuresImageContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.featureCarousel {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.featureCarousel img {
  border-radius: 10px;
  max-height: 300px;
  width: calc(100% / 5);
  flex-shrink: 0;
  cursor: grab;
  transition: transform 0.3s ease;
}

/* .featureCarousel img:nth-child(3) {
  width: 35%;
  height: 100%;
} */

@media (max-width: 768px) {
  .featureWrapper {
    padding-bottom: 50px;
  }
  .arrow-button {
    display: none;
  }
  .featureCarousel {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .featureBg {
    height: 100px;
    border-radius: 40px 0 40px 0;
    bottom: -50px;
  }
  .featureCarousel {
    gap: 10px;
  }
  .featureCarousel::-webkit-scrollbar {
    display: none;
  }
  .featureCarousel img {
    width: 30%;
    scroll-snap-align: start;
  }
}

/* Testimonial Styles */
.testimonial-wrapper {
  margin: 60px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.testimonialCardContainer {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: move-right-to-left 10s linear infinite;
}

@keyframes move-right-to-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.testimonialCardContainer::after {
  content: "";
  display: flex;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 498px;
  width: 518px;
  border-radius: 20px;
  animation: wave-right-to-left 10s ease-in-out infinite alternate;
}

@keyframes wave-right-to-left {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.testimonialCard:nth-child(even) {
  animation: wave-right-to-left-reverse 10s ease-in-out infinite alternate;
}

@keyframes wave-right-to-left-reverse {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

.testimonialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 340px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  color: #ffffff;
}
.testimonialTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  /* margin-bottom: 10px; */
}
.testimonialParagraph {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 768px) {
  .testimonialCardContainer {
    gap: 10px;
    border-radius: 10px;
  }
  .testimonialContent {
    gap: 10px;
  }
  .testimonialCard {
    height: 216px;
    width: 186px;
  }
  .testmonialImageContainer {
    width: 89px;
    height: 58px;
  }
  .testimonialTitle {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .testimonialParagraph {
    font-size: 12px;
    line-height: 18px;
  }
}

/* New Products Styles */
.newProductsWrapper {
  margin: 60px 0;
}

.newProductsContainer {
  display: flex;
  justify-content: center;
}
.newProductsCardContainer {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.newProductsCardContainer::-webkit-scrollbar {
  display: none;
}
.newProductsCard {
  flex: 0 0 calc(50% - 10px); /* Show 2 cards per row on mobile */
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s, box-shadow 0.4s;
}
.newProductsTextContainer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cardPriceContainer {
  text-align: end;
}
.cardPrice {
  color: #ec007a;
  text-decoration: line-through;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newProductCards {
  /* flex: 0 0 calc(50% - 10px); */
  flex: 0 0 calc(25% - 15px);
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s, box-shadow 0.4s;
}

.arrow-button {
  border: 0;
  background-color: #f8f8f8;
}

@media (max-width: 768px) {
  .newProductsCardContainer {
    gap: 10px;
  }
  .newProductsTextContainer {
    padding: 10px;
  }
  .newProductCards {
    flex: 0 0 calc(50% - 10px);
  }
  .cardTitle {
    font-size: 12px;
    line-height: 14.08px;
    margin-bottom: 6px;
  }
  .arrow-button {
    display: none;
  }
}

/* Blog Styles */
.blogWrapper {
  margin: 60px 0;
  padding: 60px 80px 0 80px;
  border-radius: 80px 0 120px 0;
}

.blogContainer {
  display: flex;
  gap: 20px;
}

.blogLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  max-width: 649px !important;
  padding: 20px;
}

.blogLeftTitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.23px;
  font-family: "Work Sans", serif;
}

.blogLeftParagraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Work Sans", serif;
}

.blogLeftButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blogRightContainer {
  position: relative;
  height: 800px;
  overflow-y: scroll;
  scrollbar-width: none;
  color: #ffffff;
}

.blogScroller {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogRightCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  padding: 40px;
  max-width: 989px;
  min-height: 300px;
}

.blogRightCardImage img {
  object-fit: cover;
  border-radius: 10px;
  /* width: 440px; */
  height: 262px;
}

.blogRightCardContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogRightCardContent h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Work Sans", serif;
}

.blogRightCardContent p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Work Sans", serif;
}
.blogRightCardContent p > span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Work Sans", serif;
}

.blogRightCardButton {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
}

.blogRightCardButton img {
  width: 16px;
  height: 16px;
}

@media (max-width: 468px) {
  .blogWrapper {
    margin: 20px 0;
    padding: 20px;
    border-radius: 40px 0 40px 0;
  }

  .blogContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .blogScroller {
    flex-direction: row;
    gap: 10px;
  }
  .blogRightCardImage img {
    height: 127px;
    width: 233px;
  }
  .blogLeftContainer {
    padding: 20px 0;
  }
  .blogLeftTitle {
    font-size: 22px;
    line-height: 25.81px;
    text-align: center;
  }

  .blogLeftParagraph {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  .blogLeftButtonContainer {
    gap: 10px;
  }

  .blogRightCardContent {
    gap: 10px;
  }
  .blogRightContainer {
    height: 400px;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .blogRightCard {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
  }
  .blogRightCardContent h3 {
    font-size: 14px;
    line-height: 16.42px;
  }

  .blogRightCardContent p {
    font-size: 12px;
    line-height: 18px;
  }
  .blogRightCardContent p > span {
    font-size: 12px;
    line-height: 14.08px;
  }
}

/* Footer Section */

.footerBg {
  position: relative;
  margin-block-start: 40px;
  padding-block-start: 90px;
  padding-inline: 32px;
  transform-origin: top;
  overflow: hidden;
}
.footerBg::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-0.5deg);
  transform-origin: top right;
  background: linear-gradient(0deg, #04abe1, #42ccf6);
  z-index: -2;
}
.footerBg::before {
  content: "";
  position: absolute;
  background-image: url("./assets/decorations/Footer-deco.png");
  width: 100%;
  background-repeat: repeat;
  object-fit: cover;
  height: 40px;
  top: 0;
  left: 0;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  color: #ffffff;
}
.footerFirstSection {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 80px;
}
.footerAboutUs {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  grid-column: span 3;
}
.footerLogo {
  width: 328px;
}
.footerAboutUsTxt {
  max-width: 64ch;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.footerIconContainer {
  display: flex;
  column-gap: 24px;
}
.footerIconContainer .icon {
  width: 32px;
  height: 32px;
}
.footerLinksOne,
.footerLinksTwo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-wrap: nowrap;
}
.footerNewsletter {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
}
.footerNewsletterHeading {
  font-size: 36px;
  font-weight: 700;
}
.footerNewsletterSubheading {
  margin-block-start: 8px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 80ch;
}
.footerNewsletter .input-field {
  margin-block-start: 40px;
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-inline: 0;
}
.footerNewsletter .input-field input {
  padding-inline-start: 64px;
}
.footerNewsletter .input-field input::placeholder {
  font-size: 14px;
}
.input-field .primary-btn {
  width: 330px;
}
.footerSecondSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 40px;
  border-block-start: 1px solid #ffffff;
  font-weight: 20px;
  letter-spacing: 2px;
}
.footerSquareDeco {
  width: 800px;
  height: 800px;
  display: inline-block;
  border-radius: 40%;
  transform: rotate(-25deg);
  background-color: #4debff;
  position: absolute;
  bottom: -114%;
  left: 3%;
  opacity: 0.3;
  z-index: -1;
}
.footerTriangleDeco {
  position: absolute;
  top: 10%;
  right: -3%;
  background-color: #4debff;
  opacity: 0.2;
  z-index: -1;
}

.footerTriangleDeco:before,
.footerTriangleDeco:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.footerTriangleDeco,
.footerTriangleDeco:before,
.footerTriangleDeco:after {
  width: 200px;
  height: 200px;
  border-top-right-radius: 30%;
}

.footerTriangleDeco {
  transform: rotate(-30deg) skewX(-30deg) scale(1, 0.866);
}

.footerTriangleDeco:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}

.footerTriangleDeco:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

@media (max-width: 1360px) {
  .footerFirstSection {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 768px) {
  .footerFirstSection {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
  }
  .footerAboutUs {
    grid-column: span 2;
  }
  .footerNewsletter {
    grid-column: span 2;
  }
}
@media (max-width: 425px) {
  .footerContainer {
    text-align: center;
  }
  .footerFirstSection {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  .footerAboutUs {
    grid-column: span 1;
    row-gap: 8px;
  }
  .footerAboutUsTxt {
    font-size: 14px;
    line-height: 1.8;
  }
  .footerIconContainer {
    justify-content: center;
  }
  .footerLinksOne,
  .footerLinksTwo {
    row-gap: 16px;
    font-size: 14px;
  }
  .footerNewsletter {
    grid-column: span 1;
  }
  .footerSecondSection {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .footerNewsletterHeading {
    font-size: 22px;
  }
  .input-field .primary-btn {
    width: 100%;
  }
  .footerTriangleDeco,
  .footerTriangleDeco:before,
  .footerTriangleDeco:after {
    width: 400px;
    height: 400px;
    border-top-right-radius: 15%;
  }
  .footerTriangleDeco {
    transform: rotate(-52deg) skewX(-30deg) scale(1, 0.866);
  }
  .footerTriangleDeco {
    top: 4%;
    right: -94%;
    background-color: #0b84ab66;
  }
  .footerBg::before {
    display: none;
  }
}
